body {  
    font-family: Arial, sans-serif;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100vh;  
    margin: 0;  
    background-color: #f4f4f4;  
}  
  
.container {  
    width: 300px;  
    padding: 20px;  
    background-color: white;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    border-radius: 10px;  
}  
  
h2 {  
    text-align: center;  
    margin-bottom: 20px;  
}  
  
input[type="text"], input[type="password"],input[type="email"] {  
    width: 100%;   
    margin-bottom: 10px;  
    border-radius: 5px;  
    border: 1px solid #ccc;  
}  
  
button {  
    width: 100%;  
    padding: 10px;  
    border-radius: 5px;  
    border: none;  
    background-color: #4CAF50;  
    color: white;  
    cursor: pointer;  
}  
  
button:hover {  
    background-color: #45a049;  
}

p {
    font-size: 12px;
    color: gray;
    text-align: center;
}
a {
    color: rgb(72, 71, 71);
   text-decoration: none;
}
a:hover {
  background-color: #ccc;
}
